<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a [routerLink]="_readerViewUrl">
        <h3>VISTA {{ _user.type }}</h3>
      </a>
    </div>

    <ul class="list-unstyled components">
      <p>Bienvendio :)</p>
      <li class="active">
        <a
          href="#homeSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Acciones</a
        >
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a [routerLink]="[_magListUrl]">Nueva subscripcion</a>
          </li>
          <li>
            <a [routerLink]="[_readMagUrl]">Leer revista</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a
          href="#pageSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Pages</a
        >
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Page Content -->
  <div id="content" style="width: 100%">
    <app-nav-view-page></app-nav-view-page>
    <!-- We'll fill this with dummy content -->
    <div class="wrapper">
      <div style="width: 75%">
        <router-outlet></router-outlet>
      </div>
      <div style="width: 20%">
        <app-ad-aside></app-ad-aside>
      </div>
    </div>
  </div>
</div>
