<div>
  <div class="headerKgb">
    <app-log-nav></app-log-nav>
  </div>
  <div>
    <div class="d-flex justify-content-center align-items-center bodyKgb">
      <div class="col-sm-4">
        <div
          class="alert alert-danger"
          role="alert"
          [hidden]="!showMessageError"
        >
          <strong>Alguno/s de los datos son incorrectos</strong>
        </div>
        <div
          class="alert alert-info"
          role="alert"
          [hidden]="!_noDescriptionGiven"
        >
          <strong
            >Es obligatorio que los editores tengan una descripción</strong
          >
        </div>
        <div
          *ngIf="_showBackendMessage"
          class="alert alert-danger"
          role="alert"
        >
          <strong>{{ _backendMessage }} </strong>
        </div>
        <form
          class="form"
          [formGroup]="_signUpForm"
          (ngSubmit)="procedSignUp()"
        >
          <div class="form-group">
            <label for="fullname">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="fullname"
              id="fullname"
              aria-describedby="helpIdFullname"
              placeholder="Ingrese su nombre completo"
              formControlName="_name"
            />
            <small id="helpIdFullname" class="form-text text-muted"
              >Su nombre personal</small
            >
          </div>
          <div class="form-group">
            <label for="email">Correo</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              aria-describedby="emailHelpId"
              placeholder="Ingresa un correo"
              formControlName="_email"
            />
            <small id="emailHelpId" class="form-text text-muted"
              >El correo debe contener un @</small
            >
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Ingrese una contraseña"
              formControlName="_password"
            />
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                name="is-editor"
                id="is-editor"
                value="Quiero publicar revistas"
                formControlName="_isEditor"
              />
              Quiero ser editor
            </label>
          </div>
          <div class="form-group">
            <label for="description">Descripciòn</label>
            <textarea
              class="form-control no-resize"
              name="description"
              id="description"
              rows="4"
              maxlength="300"
              placeholder="Danos una descripciòn sobre ti :)"
              formControlName="_description"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-block btn-dark">
            Continuar registro
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
