<nav id="sidebar">
  <div class="sidebar-header">
    <a [routerLink]="['/pages/']">
      <h3>VISTA EDITOR</h3>
    </a>
  </div>

  <ul class="list-unstyled components">
    <p>Bienvendio :)</p>
    <li class="active">
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Revista</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a [routerLink]="[_newMagLink]">Publicar revista</a>
        </li>
        <li>
          <a [routerLink]="[_uploadPostUrl]">Subir nuevo post</a>
        </li>
        <li>
          <a href="#">Editar revista</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Pages</a
      >
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Portfolio</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>
