<nav id="sidebar">
  <div class="sidebar-header">
    <a [routerLink]="['/pages/']">
      <h3>VISTA EDITOR</h3>
    </a>
  </div>

  <ul class="list-unstyled components">
    <p>Bienvendio :)</p>
    <li class="active">
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Revista</a
      >
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a [routerLink]="[_newMagLink]">Publicar revista</a>
        </li>
        <li>
          <a [routerLink]="[_uploadPostUrl]">Mis revistas</a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="[_reportsPanel]">Reportes</a>
    </li>
  </ul>
</nav>
