<div class="container mt-4">
  <div>
    <!-- MAG PREVIEW -->
    <div>
      <div class="row d-flex justify-content-center">
        <!-- IMG -->
        <div class="col-sm-4 mt-4">
          <img
            src="https://3.bp.blogspot.com/-9HBBvbBxrxs/Uc5sPVvJJVI/AAAAAAAAFpE/ULGOHbmZkWE/s1600/perros%2Bdormidos.jpg"
            class="
              img-fluid
              ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}
            "
            alt="img magazine"
          />
        </div>
        <!-- END IMG -->
        <!-- BASIC INFO -->
        <div class="col-md-6 mt-4">
          <div>
            <h3>{{ _activeMag.name }}</h3>
          </div>
          <div>
            <div class="row mt-4">
              <div class="col-md-6">
                <p>Precio: {{ _activeMag.mensuality | currency: "Q" }} /mes</p>
                <p>
                  Esta revista {{ _allowCommentMsg }} comentarios y
                  {{ _allowLikesMsg }} me gusta
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  Publicada por: {{ _activeMag.editor }} el
                  {{ _activeMag.dateString }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- END BASIC INFO -->
      </div>

      <div></div>
      <div class="row mt-4">
        <div class="col-lg-8">
          <p>{{ _activeMag.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Categoria: {{ _activeMag.category }}</p>
          <!-- TODO show the number of likes from DB -->
          <p>Me gusta: 12</p>
        </div>
        <div class="col-md-6">
          <p>Tags</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let _tag of _activeMag.tags">
              {{ _tag }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END MAG PREVIEW -->
    <!-- START COMMENTS -->
    <section>
      <hr />
      <ul class="list-group">
        DEBO MOSTRAR LOS COMENTARIOSi
        <!-- TODO show commetns -->
      </ul>
    </section>
    <!-- END COMMENTTS -->
  </div>
</div>
